
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  
}

body * {
  transition:color .5s, background .5s ease-in-out , background-color .5s, -webkit-filter .5s, -moz-filter .5s, -ms-filter .5s, -o-filter .5s;
}

#app {

  min-height:100dvh;
}

.wrapper {
  width: 90%;
  height: 100%;
  height:100dvh;
  box-shadow:
    3px -1px 2px rgba(0, 0, 0, 0.103),
    -3px -1px 2px rgba(0, 0, 0, 0.103);
  background-color: #00000013;
  margin: 0 auto;
}

:root{



  .moreless {
   align-self: center;
  }
  
  .cando {
    grid-column: 1 /span 2;
    display:grid;
    grid-template-rows: max-content;
    background-color: rgba(236, 233, 233, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }

  .cando li {
  font-size:1em;

  }

  @media only screen and (max-width: 1380px) {
  .text .aboutsummary {
        padding-top:20px;
        margin:0 auto;
        height:100%;
        grid-column: 1 /span 2;
  
      }
      div.aboutsummary{
        margin-top: 0px;
        
      }
  
      #about .text .aboutphoto {
  
        grid-row: 2;
        grid-column: 1 /span 2;
  
      }
  
      #about .text .aboutsummary {
        grid-column: 1;
        grid-row: 3;
        grid-column: 1 /span 2;
      }
  
      #about .text h2 {
  
        grid-column: 1;
        grid-column: 1 /span 2;
      }
  
  
      img.mephoto {

        width: 75%;
        max-width: 500px;
        border: 8px solid rgba(0, 0, 0, 0.2);
      }
  
      .aboutsummary p {
      margin-left: 10px;
    }
    }

  @media only screen and (max-width: 768px) {

    #about .aboutsummary h2.summaryhead  {  
      border-radius: 0;
      width:100%;
      padding: 5px;
      padding-bottom: 0;
    
    }


    .maindiv {
      grid-template-columns: 1fr !important;
    }

    .wrapper {
      width: 100%;
    }

    .logo {
      min-width: 220px;
      opacity: 1;
      top: 20px;
      transition: opacity 0.2s;
    }

    .logo.expand {
      opacity: 0;
    }

    div .title {
      display: inline-grid;
      grid-row: 1 / span 5;
      background: -webkit-linear-gradient(
        90deg,
        #a9def9 0 25%,
        #d0f4de 0 50%,
        #fcf6bd 0 75%,
        #ff99c8 0 100%
      );
      padding-top: 5px;
      box-shadow: none;
    }

    div .mobmenubtn {
      display: inline-grid;
      grid-row: 1 / span 5;
      grid-column: 3;
      background: -webkit-linear-gradient(
        90deg,
        #a9def9 0 25%,
        #d0f4de 0 50%,
        #fcf6bd 0 75%,
        #ff99c8 0 100%
      );
      padding: 10px;
      text-align: center;
    }

    .hamburger {
      max-width: 50px;
      max-height: 50px;
      z-index: 99999;
      margin: 0 auto;
      top: 20px;
      opacity: 80% !important;

      cursor: pointer;
      filter: drop-shadow(3px 3px 3px #00000063);
    }

    div.topheader {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      height: 72px;
      transition: height 0.3s;
      gap: 0;
      background: -webkit-linear-gradient(
        90deg,
        #a9def9 0 25%,
        #d0f4de 0 50%,
        #fcf6bd 0 75%,
        #ff99c8 0 100%
      );
      box-shadow: 0px 5px rgba(0, 0, 0, 0.103);
    }

    div.topheader.expand {
      height: 100dvh;
    }

    .topheader .rainleft,
    .rainright {
      display: none;
    }

    .topbuttons.buttonholder {
      min-height: 18px;
      box-shadow: 0 0 rgba(0, 0, 0, 0) !important;
    }

    .a,
    .b,
    .c,
    .d {
      display: none;
    }

    .mobilemenu {
      top: 0;
      position: fixed;
      opacity: 0;
      overflow: hidden;
      width: 0px;
      height: 72px;
      background-color: rgba(255, 255, 255, 0);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      z-index: 1000;
      transition:
        opacity 0.3s,
        height 0.3s;
      
    }

    .mobilemenu.expand {
      height: 100dvh;
      width: 100%;
      opacity: 1;
    }

    .topheader .mobilemenu input[type='button'] {
      -webkit-appearance: none;
      appearance: none;
      font-size: 60px;
      margin:0 auto;
      width:100%;
      height:100%;
      position: relative;
      z-index: 1;
      
    }




    .topheader .mobilemenu input[type='button']:hover {
      /* font-weight: bold; */
      font-size: 65px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
      box-shadow: 
      0px 3px 2px rgba(0, 0, 0, 0.137),
      0px -3px 2px rgba(0, 0, 0, 0.137);
      z-index: 2;


    }

    .topheader .mobilemenu input[type='button']:active {
      box-shadow:  0px 0px 10px 13px rgba(255, 255, 255, 0.377);
      text-shadow: none;
    }

    .am {
      
      background-color: #ff99c8;
      cursor: pointer;

    }

     .bm {
      
      background-color: #fcf6bd;
      cursor: pointer;
    }

    .cm {
      
      background-color: #d0f4de;
      cursor: pointer;
    }

    .dm {
      
      background-color: #a9def9;
      cursor: pointer;
    }


    form#GuestForm {
      border-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }


    div.guestwrapper {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      border-radius: 20px;
    }
  
    div.guestwrapper.shrink {
      grid-template-rows: 0fr 1fr;
      grid-template-columns: 100%;
      gap: 0px;
    }
  
    div.success-message {
      border-radius: 20px;
    }
  
    div#messagewrapper.message-wrapper {
      margin-top: 30px;
      grid-row: 2;
      border-radius: 20px;
    }
  
    div#messagewrapper.shrink {
      margin: auto;
      width: 100%;
      min-height: 60dvh;
    }

 
  
    div.text .aboutsummary {
      padding-top:0;
      margin:0 auto;
      height:100%;
      grid-column: 1 /span 2;
      
    }
  
    #about .text .aboutphoto {
      
      grid-row: 2;
      grid-column: 1 /span 2;
    
    }
    
    #about .text .aboutsummary {
      grid-column: 1;
      grid-row: 3;
      grid-column: 1 /span 2;
      
    }

    #about .text h2 {
      
      grid-column: 1;
      grid-column: 1 /span 2;
    }
  

    .mephoto {
      width: 75%;
      max-width: 350px;
      border: 8px solid rgba(0, 0, 0, 0.2);
    }

    div.aboutphoto{
      background-color: rgba(255, 255, 255, .1);
      padding-top:10px;

      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-left:10px;
      margin-right:10px;
    }

    div.aboutsummary p {
      border-top-left-radius:0px ;
      border-top-right-radius:0px;
    }
  }

  @media only screen and (min-width: 769px) {
    .mobmenubtn {
      display: none;
    }

    .mobilemenu {
      display: none;
    }
  }

  .wrapper.comicsans {
    h2 {
      font-family: 'Comic Sans MS', 'Comic Neue' !important;
    }

    input {
      font-family: 'Comic Sans MS', 'Comic Neue' !important;
    }

    button {
      font-family: 'Comic Sans MS', 'Comic Neue' !important;
    }

    font-family: 'Comic Sans MS', 'Comic Neue' !important;
  }


  body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: rgb(228, 193, 249);
    background: -webkit-linear-gradient(
      0deg,
      rgb(255, 153, 200) 0 1%,
      rgb(252, 246, 189) 0 2%,
      rgb(208, 244, 222) 0 3%,
      rgb(169, 222, 249) 0 4%,
      rgb(228, 193, 249) 0 96%,
      rgb(169, 222, 249) 0 97%,
      rgb(208, 244, 222) 0 98%,
      rgb(252, 246, 189) 0 99%,
      rgb(255, 153, 201) 0 100%
    );
    background: linear-gradient(
      90deg,
      rgb(255, 153, 200) 0 1%,
      rgb(252, 246, 189) 0 2%,
      rgb(208, 244, 222) 0 3%,
      rgb(169, 222, 249) 0 4%,
      rgb(228, 193, 249) 0 96%,
      rgb(169, 222, 249) 0 97%,
      rgb(208, 244, 222) 0 98%,
      rgb(252, 246, 189) 0 99%,
      rgb(255, 153, 201) 0 100%
    );
  }

  #Footer {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    
    justify-content: end;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom:5px;
    min-height: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  #Footer p {
    margin:0;
  }

  .bouncecat {
    max-height: 60px;
    transition: rotate 1s;
    cursor: pointer;
    margin:0 auto;
  }

  .bouncecat.flipped {
    rotate: 180deg;
  }

  .rainleft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 59.8px;
  }

  .rainleft .raina {
    grid-row: 1 / span 5;
    background-color: #ff99c8;
    border-top-left-radius: 10px;
  }

  .rainleft .rainb {
    grid-column: 2 / span 5;
    background-color: #ff99c8;
  }

  .rainleft .rainc {
    grid-row: 2 / span 5;
    background-color: #fcf6bd;
  }

  .rainleft .raind {
    grid-column: 3 / span 5;
    background-color: #fcf6bd;
  }

  .rainleft .raine {
    grid-row: 3 / span 5;
    background-color: #d0f4de;
  }

  .rainleft .rainf {
    grid-column: 4 / span 5;
    background-color: #d0f4de;
  }

  .rainleft .raing {
    grid-row: 4 / span 5;
    background-color: #a9def9;
  }

  .rainleft .rainh {
    grid-column: 5 / span 5;
    background-color: #a9def9;
  }

  .rainleft .raini {
    grid-column: 5;
    grid-row: 5;
    background-color: #e4c1f9;
  }

  .rainright {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .topbuttons.buttonholder.md {
    z-index: 1;
  }

  .rainright .raina {
    grid-column: 1 / span 5;
    background-color: #ff99c8;
    border-top-right-radius: 10px;
  }

  .rainright .rainb {
    grid-column: 5;
    grid-row: 2 / span 5;

    background-color: #ff99c8;
  }

  .rainright .rainc {
    grid-column: 1 / span 4;

    background-color: #fcf6bd;
  }

  .rainright .raind {
    grid-column: 4;
    grid-row: 3 / span 4;
    background-color: #fcf6bd;
  }

  .rainright .raine {
    grid-column: 1 / span 3;

    background-color: #d0f4de;
  }

  .rainright .rainf {
    grid-column: 3;
    grid-row: 4 / span 3;
    background-color: #d0f4de;
  }

  .rainright .raing {
    grid-column: 1 / span 2;
    background-color: #a9def9;
  }

  .rainright .rainh {
    grid-column: 2;
    grid-row: 5 / span 5;
    background-color: #a9def9;
  }

  .rainright .raini {
    grid-column: 1;
    grid-row: 5;
    background-color: #e4c1f9;
  }

  .topheader {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
    background-color: #ff99c8;
    position: -webkit-sticky;
    position: sticky;
    gap: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    margin: 0 auto;
  }

  .topbuttons.buttonholder {
    display: inline-grid;

    box-shadow:
      3px 5px 2px rgba(0, 0, 0, 0.103),
      -3px 5px 2px rgba(0, 0, 0, 0.103);
  }

  .a {
    background-color: #ff99c8;
  }

  .b {
    background-color: #fcf6bd;
  }

  .c {
    background-color: #d0f4de;
  }

  .d {
    background-color: #a9def9;
  }

  .title {
    background-color: #e4c1f9;
    text-align: center;
    display: inline-grid;
    min-width: 220px;
    padding: 1%;
    box-shadow:
      3px 5px 2px rgba(0, 0, 0, 0.103),
      -3px 5px 2px rgba(0, 0, 0, 0.103);
  }

  .title .logo {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    filter: drop-shadow(3px 3px 3px #00000063);
  }

  .topheader input[type='button'] {
    border: hidden;
    font-family: 'Concert One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: min(3.5vw, 36px);
    border-radius: 0;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-appearance: none;
    appearance: none;
  }

  input[type='button'] {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-appearance: none;
    appearance: none;
  }

  input[type='text'] {
    background-color: rgba(255, 255, 255, 0.6);
  }

  input[type='email'] {
    background-color: rgba(255, 255, 255, 0.6);
  }

  textarea {
    background-color: rgba(255, 255, 255, 0.6);
  }

  button {
    transition:
      font-size 0.1s,
      box-shadow 0.1s,
      margin-top 0.1s,
      margin-bottom 0.1s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-appearance: none;
    appearance: none;
  }

  button:hover {
    font-size: 22px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.182);
  }

  button:active {
    box-shadow: none;
    margin-top: 2px;
    margin-bottom: -2px !important;
  }

  input {
    transition: box-shadow 0.1s;
    font-weight: 0.1s;
    color: black;
  }

  .maindiv {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 0px;
    min-height: 100%;
    border-style: none;
  }

  #projectsbtn.open {
    background-color: rgb(252, 246, 189);
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid rgb(252, 246, 189);
    color: black;
  }

  #contactbtn.open {
    background-color: #d0f4de;
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid rgb(208, 244, 222);
    color: black;
  }

  #guestbookbtn.open {
    background-color: rgb(169, 222, 249);
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid rgb(169, 222, 249);
    color: black;
  }

  #guestbookbtn {
    box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.103);
  }

  #aboutbtn.open {
    background-color: rgb(255, 153, 200);
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid rgb(255, 153, 200);
    color: black;
  }

  #projectsbtn.closed {
    background-color: #fcf6bd;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
  }

  #contactbtn.closed {
    background-color: #d0f4de;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
  }

  #guestbookbtn.closed {
    background-color: #a9def9;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
  }

  #aboutbtn.closed {
    background-color: #ff99c8;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
  }

  .main {
    display: grid;
    margin: 0 auto;
    min-height: 100dvh;
    min-width: 75%;
  }

  .mephoto {
    width: 100%;
    /* max-width: 420px; */
    margin:0 auto;
    border: 8px solid rgba(0, 0, 0, 0.2);
  }

  .maincontent.photos {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin: 0 10%;
    grid-row: 2 / span 3;
  }

  .maincontent {
    min-width: 100%;
    padding-top: 0;
  }

  #footer {
    display: inline-grid;
    background-color: white;
    grid-column: 1 / span 2;

    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    margin-top: 20px;

   
  }

  #contentwrapper.about {
    background-color: #ff99c8;
  }

  #contentwrapper.projects {
    background-color: #fcf6bd;
  }

  #contentwrapper.contact {
    background-color: #d0f4de;
  }

  #contentwrapper.guestbook {
    background-color: #a9def9;
  }

  header h1 {
    padding: 10px;
    text-align: center;
    display: inline-grid;
    max-height: 100%;
    font-size: calc(1vw + 2vh);

    white-space: nowrap;
    font-weight: 900;
  }

  .content {
    padding: 0;
  }

  #contentwrapper {
    padding: 0 5%;
    
  }

  .text {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin: 20px 0;
    padding: 20px 0 10px 0;
    text-align: center;
  }

  #about .text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .text .aboutsummary {
    /* padding-top:10%; */
    /* max-width: 420px; */
    margin:0 auto;
    height:100%;
    display: flex;
    padding-left: 10px;
    padding-right:10px;

  }

   .text .aboutphoto {
    grid-column: 1;
    grid-row:2;
    padding-right:10px;
    padding-left:10px;
  
  }
  
   .text .aboutsummary {
    grid-column: 2;
    grid-row:2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;


  }

  .text .aboutsummary .summary {
    grid-column: 1 /span 2;
    margin-bottom: 0;
    padding-bottom: 20px;

  }




   #about .text h2 {
    grid-column: 1 /span 2;
    font-size: calc(2vw + 2vh);
     padding-bottom: 20px;
   }

   #about .text h3 {
    font-family: 'Concert One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(1vw + 1.5vh);
     
   }

  h2 {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Concert One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    opacity: 99%;
    padding-bottom: 10px;
    text-shadow: 0 0px 10px rgba(255, 255, 255, 0.418)
  }




  .aboutheader {
    background: rgba(255, 205, 227, 0.925);
  }

  .text {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.103);
   
  }

  .info p {
    /* margin-left: 10px;
    margin-right: 10px; */
    /* padding: 8px; */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    /* font-weight: 400; */
    font-style: normal;
    font-size: min(3.5vw, 20px);
  }

  .aboutsummary p {
    margin-left: 0;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius: 0;
    height:100%;
    border-width: 8px;
    padding:20px;
    padding-bottom: 0;
  }

  p {
    opacity: 95%;
    margin-bottom: 1.5em;
    line-height: 1.2em;
  }

  .info {
    min-width: 75% !important;
  }

  a {

    color: #ff5493;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
    padding: 0;
    font-weight: bold;
  }

  a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.307);
  }


  .successtext {
    text-wrap: nowrap;
  }
  .reaction {
    width: fit-content;
    grid-column: 1;
    margin-left: auto;
  }
  .reaction img {
    width: 50px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.336);
    margin-right: 2px;
  }
  .reactionholder {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    background-color: #ffffff3b;
    border-radius: 30px;
  }
  
  .reactionholder label {
  text-wrap: nowrap;
  grid-column: 1 / span 3;
  }
  
  .reactionholder img {
    margin: 0 auto;
    height: 50px;
    background-color: #e4c1f933;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.274);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
    cursor: pointer;
    user-select: none;
    grid-row: 2;
  }
  
  .reactionholder img:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.182);
    background-color: #e4c1f971;
    border-color: rgba(0, 0, 0, 0.574);
  }
  
  .reactionholder img.selected {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.182);
    background-color: #e4c1f9;
    border-color: rgba(0, 0, 0, 0.574);
  }
  
  .loading {
    text-align: center;
  }

  .loadingcat {
    height: 100px;
    width: 100px;
  }
  
  .date {
    float: right;
    font-style: italic;
    opacity: 75%;
    font-size: 14px;
    padding-top: 5px;
  }
  
  #GuestForm {
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0;
    overflow: clip;
    grid-column: 1;
    background-color: #bae4f944;
  }
  
  div.field.message textarea {
    height: 200px;
  }
  
  #GuestForm div#Formwrapper {
    padding-top: 0;
    min-height: 590px;
    padding: 10px;
  }
  
  .guestwrapper {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.645);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    transition:
      grid-template-columns 1s,
      grid-template-rows 1s,
      gap 1s;
  }
  
  .guestwrapper.shrink {
    grid-template-columns: 0% 100%;
    gap: 0px;
  }
  
  .success-message {
    overflow: hidden;
    width: 100%;
  
    grid-column: 1;
    text-align: center;
  
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #bae4f944;
  }
  
  .success-message p {
    padding-top: 30px;
    font-size: calc(1vw + 2vh);
  }
  
  .success-message.shrink {
    background-color: #ffffff00;
  }
  
  #Formwrapper {
    display: grid;
    border-radius: 20px;
    gap: 10px;
    padding-top: 20px;
  }
  
  #Formwrapper .field {
    display: inline-grid;
    padding: 10px;
  }
  
  label {
    font-weight: bold;
    padding-bottom: 2px;
  }
  
  .alert {
    color: red;
  }
  
  .formfield {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    border: 2px solid #27022b70;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #a596a7;
    font-size: 16px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
  }
  
  .componentwrapper {
    display: grid;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.082);
  }
  
  .invalid {
    border-color: red;
  }
  
  #messagewrapper {
    display: grid;
    padding: 10px;
    min-height: 60dvh;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition:
      width 1s,
      margin 1s;
    background-color: #bae4f944;
    gap: 10px;
  }
  
  #messagewrapper.shrink {
    margin: auto;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  #messagewrapper h3 {
    display: inline-grid;
    text-align: center;
  }
  
  .entry {
    display: inline-grid;
    display: grid;
    grid-template-columns: 20% 80%;
    min-width: 100%;
    border-radius: 10px;
  }
  
  div.messagewrapper.holder {
    width: 90%;
  }
  
  .displayname {
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    width: fit-content;
    position: relative;
    margin-bottom: 0px;
    z-index: 10;
  }
  
  .msg {
    z-index: 8;
    position: relative;
    border-radius: 10px;
    margin-top: -4px;
    border-top-left-radius: 0;
    background-color: #ffffff;
    padding: 8px;
    word-break: break-word;
    font-style: italic;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.082);
  }

  div.aboutphoto {
   
  }

}



/* ------------------------------------------------------------------------------------------- */



[data-theme="dark"] {


    

  body {
   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    background: -webkit-linear-gradient(
      0deg,
      rgb(255, 255, 255) 0 1%,
      rgb(189, 189, 189) 0 2%,
      rgb(124, 124, 124) 0 3%,
      rgb(66, 66, 66) 0 4%,
      rgb(0, 0, 0) 0 96%,
      rgb(66, 66, 66) 0 97%,
      rgb(124, 124, 124) 0 98%,
      rgb(189, 189, 189) 0 99%,
      rgb(255, 255, 255) 0 100%
    );
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0 1%,
      rgb(189, 189, 189) 0 2%,
      rgb(124, 124, 124) 0 3%,
      rgb(66, 66, 66) 0 4%,
      rgb(0, 0, 0) 0 96%,
      rgb(66, 66, 66) 0 97%,
      rgb(124, 124, 124) 0 98%,
      rgb(189, 189, 189) 0 99%,
      rgb(255, 255, 255) 0 100%
    );
    
  }

  img {
    filter:none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);

  }

  input[type="submit"], input[type="reset"], button {
    background-color: #000000;
    color:white;
  }

  input,input[type="email"],input[type="text"],textarea{
    border-color: #000000;
  }

  

  #contentwrapper.about {
    background-color: #000000;
  }

  #contentwrapper.projects {
    background-color: #000000;
  }

  #contentwrapper.contact {
    background-color: #000000;
  }

  #contentwrapper.guestbook {
    background-color: #000000;
  }
  
  a {
    font-weight: bold;
    color:black;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
    padding: 0;
  }

  #projectsbtn.open {
    background-color: rgb(0, 0, 0);

    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  #contactbtn.open {
    background-color: rgb(0, 0, 0);

    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  #guestbookbtn.open {
    background-color: rgb(0, 0, 0);

    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  #guestbookbtn {
    box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.103);
  }

  #aboutbtn.open {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  #projectsbtn.closed {
    background-color: #cccccc;
 
  }

  #contactbtn.closed {
    background-color: #cccccc;

  }

  #guestbookbtn.closed {
    background-color: #cccccc;
   

  }

  #aboutbtn.closed {
    background-color: #cccccc;

  }

  .a {
    background-color: #000000;
  }

  .b {
    background-color: #ffffff;
  }

  .c {
    background-color: #000000;
  }

  .d {
    background-color: #ffffff;
  }

  .title {
    background-color: #ffffff;

  }

  .rainleft .raina {
    grid-row: 1 / span 5;
    background-color: #ffffff;
    border-top-left-radius: 10px;
  }

  .rainleft .rainb {
    grid-column: 2 / span 5;
    background-color: #ffffff;
  }

  .rainleft .rainc {
    grid-row: 2 / span 5;
    background-color: #bdbdbd;
  }

  .rainleft .raind {
    grid-column: 3 / span 5;
    background-color: #bdbdbd;
  }

  .rainleft .raine {
    grid-row: 3 / span 5;
    background-color: #7c7c7c;
  }

  .rainleft .rainf {
    grid-column: 4 / span 5;
    background-color: #7c7c7c;
  }

  .rainleft .raing {
    grid-row: 4 / span 5;
    background-color: #424242;
  }

  .rainleft .rainh {
    grid-column: 5 / span 5;
    background-color: #424242;
  }

  .rainleft .raini {
    grid-column: 5;
    grid-row: 5;
    background-color: #000000;
  }

  .rainright {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .topbuttons.buttonholder.md {
    z-index: 1;
  }




  .rainright .raina {

    background-color: #ffffff;
  }

  .rainright .rainb {

    background-color: #ffffff;
  }

  .rainright .rainc {
 

    background-color: #bdbdbd;
  }

  .rainright .raind {
  
    background-color: #bdbdbd;
  }

  .rainright .raine {


    background-color: #7c7c7c;
  }

  .rainright .rainf {
 
    background-color: #7c7c7c;
  }

  .rainright .raing {
  
    background-color: #424242;
  }

  .rainright .rainh {

    background-color: #424242;
  }

  .rainright .raini {

    background-color: #000000;
  }

  .topheader {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 5%;
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    gap: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    margin: 0 auto;
  }

  #Footer p {
    color:white;
  }

  .arrowholder {

    box-shadow: 0px 5px 5px #555555;
  }

  #infoholder {
    box-shadow: 0px 5px 5px #555555;
  }

  .overlayimage{
    background-color: #000000;
  }

  #messagewrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #GuestForm {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .reactionholder img {

    background-color: #adadad33;

    border: 2px solid rgba(0, 0, 0, 0.274);

  }
  
  .reactionholder img:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.182);
    background-color: #66666671;
    border-color: rgba(0, 0, 0, 0.574);
  }
  
  .reactionholder img.selected {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.182);
    background-color: #202020;
    border-color: rgba(0, 0, 0, 0.574);
  }

  @media only screen and (max-width: 768px) {

    div .title,div .mobmenubtn,div.topheader {

      background: -webkit-linear-gradient(
        90deg,
        #424242 0 25%,
        #7c7c7c 0 50%,
        #bdbdbd 0 75%,
        #ffffff 0 100%
      );

    }


    }


    .topheader .mobilemenu input[type='button']:hover {
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
    }

    .topheader .mobilemenu input[type='button']:active {
      box-shadow: inset 0px 0px 10px 13px rgba(255, 255, 255, 0.377);
      text-shadow: none;
    }

    .am {
      background-color: #ffffff;
      cursor: pointer;
    }

    .bm {
      background-color: #bdbdbd;
      cursor: pointer;
    }

    .cm {
      background-color: #7c7c7c;
      cursor: pointer;
    }

    .dm {
      background-color: #424242;
      cursor: pointer;
    }

    .gameholder {

      background-color: #ffffff3d;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.103);
    }


    #CaroWrapper {

      background-color: rgba(255, 255, 255, 0.5);

    }

    #contentwrapper.projects {
      background-color: #000000;
    }

}


